rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, create, update, delete:
        if request.auth != null
        && request.auth.uid == userId;
    }

    match /notifications/{notificationId} {
      allow read:
        if request.auth != null
        && resource.data.uid == request.auth.uid;
      allow create, update, delete: if false;
    }

    match /offerRequests/{requestId} {
      allow create:
        if request.auth != null
        && request.resource.data.uid == request.auth.uid;
      allow read, update, delete: if false;
    }
  }
}
